<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Cadastrar Quarto</title>
</head>
<body>

<h3>Cadastrar Quarto</h3><br/>

<form method="post" th:action="@{/cadastrarQuarto}" th:object="${quarto}">

    <input name="id" th:value="${quarto.idquarto}" type="hidden"/>

    <b>Hotel CNPJ: </b><input name="hotel_cnpj" type="text"><br/>
    <b>Nome: </b><input name="nome_quarto" type="text"><br/>
    <b>Número: </b><input name="numero" type="text"><br/>
    <b>Capacidade: </b><input name="capacidade" type="text"><br/>
    <b>Diária: </b><input name="diaria" type="text"><br/>

    <input type="submit" value="Enviar">

</form>
<br/>
<a class="button" th:href="@{/quartos}">Voltar</a>
</body>
</html>
