<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link
            href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/all.css"
            rel="stylesheet"
    />
    <link rel="stylesheet" th:href="@{/css/sistema/admin.css}"/>
    <link rel="stylesheet" th:href="@{/css/sistema/styleTable.css}"/>
    <title>Cadastrar Reserva</title>
</head>
<body>
<section
        th:replace="~{Componentes/sistema-section-1 :: section}"
></section>

<section id="interface">
    <div class="navegation">
        <div>
            <div>
                <i class="fas fa-bars" id="menu-btn"></i>
            </div>
            <h3 class="i-name">Reserva</h3>
            <p>Cadatrar reserva</p>
        </div>
        <button
                class="btn-cad-client"
                onclick="window.location.href='/reservas'"
        >
            Voltar
        </button>
    </div>

    <div class="formContainer">
        <form
                class="form"
                method="post"
                th:action="@{/cadastrarReserva}"
                th:object="${reserva}"
        >
            <p>
                <span>Hóspede:</span>
                <select id="hospede_cpf" name="hospede_cpf">
                    <option>Selecionar CPF</option>
                    <option
                            th:each="cpf : ${hospedes}"
                            th:text="${cpf}"
                            th:value="${cpf}"
                    ></option>
                </select>
            </p>
            <p>
                <span>Quarto:</span>
                <select id="idquarto" name="idquarto">
                    <option>Selecionar quarto</option>
                    <option
                            th:each="quarto : ${quartos}"
                            th:text="${quarto[1]}"
                            th:value="${quarto[0]}"
                    ></option>
                </select>
            </p>
            <p>
                <span>Quantidade de Adultos:</span>
                <input
                        id="quantidade_adulto"
                        name="quantidade_adulto"
                        required
                        type="number"
                        value="1"
                />
            </p>
            <p>
                <span>Quantidade de Crianças:</span>
                <input
                        id="quantidade_crianca"
                        name="quantidade_crianca"
                        required
                        type="number"
                        value="0"
                />
            </p>
            <p>
                <span>Data de Entrada:</span>
                <input
                        id="data_check_in"
                        name="data_check_in"
                        required
                        type="date"
                />
            </p>
            <p>
                <span>Data de Saída:</span>
                <input
                        id="data_check_out"
                        name="data_check_out"
                        required
                        type="date"
                />
            </p>
            <button class="btn-cad-client" type="submit">Salvar</button>
        </form>
    </div>
</section>
</body>
</html>
