<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/styleTable2.css}"/>
    <title>Modificar Reserva</title>
</head>
<body>
<h1>Modificar Reserva</h1>
<form method="post" th:action="@{/atualizarReserva}">

    <div>
        <label for="idquarto">Quarto:</label>
        <select id="idquarto" name="idquarto">
            <option th:text="${reserva.idquarto}" th:value="${reserva.idquarto}"></option>
            <option th:each="idquarto : ${quartos}" th:text="${idquarto}" th:value="${idquarto}"></option>
        </select>
    </div>

    <div>
        <label for="quantidade_adulto">Qnt. Adulto:</label>
        <input id="quantidade_adulto" name="quantidade_adulto" required="required"
               th:value="${reserva.quantidade_adulto}"
               type="number"/>
    </div>

    <div>
        <label for="quantidade_crianca">Qnt. Criança:</label>
        <input id="quantidade_crianca" name="quantidade_crianca" required="required"
               th:value="${reserva.quantidade_crianca}"
               type="number"/>
    </div>

    <div>
        <label for="data_check_in">Check In:</label>
        <input id="data_check_in" name="data_check_in" required="required" th:value="${reserva.data_check_in}"
               type="date"/>
    </div>

    <div>
        <label for="data_check_out">Check Out:</label>
        <input id="data_check_out" name="data_check_out" required="required" th:value="${reserva.data_check_out}"
               type="date"/>
    </div>

    <div>
        <input id="idreserva" name="idreserva" th:value="${reserva.idreserva}" type="hidden"/>
        <input id="hospede_cpf" name="hospede_cpf" th:value="${reserva.hospede_cpf}" type="hidden"/>
        <input type="submit" value="Modificar"/>
    </div>

</form>
<br/>
<a th:href="@{/reservas}">Voltar</a>
</body>
</html>
