<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <link
            rel="stylesheet"
            th:href="@{https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/all.css}"
    />
    <link rel="stylesheet" th:href="@{/css/sistema/admin.css}"/>
    <title>Dashboard</title>
</head>
<body>
<section
        th:replace="~{Componentes/sistema-section-1 :: section}"
></section>

<section id="interface">
    <div class="navegation">
        <div>
            <i class="fas fa-bars" id="menu-btn"></i>
        </div>
        <p>Gestão das Atividades do Hotel</p>
    </div>

    <div class="values">
        <div class="val-box">
            <i class="fa-solid fa-users"></i>
            <div>
                <p>Hóspedes</p>
                <h3 th:text="${listaHospedes}">0</h3>
            </div>
        </div>

        <div class="val-box">
            <i class="fa-solid fa-book"></i>
            <div>
                <p>Reservas</p>
                <h3 th:text="${listaReservas}">0</h3>
            </div>
        </div>

        <div class="val-box">
            <i class="fa-solid fa-users-gear"></i>
            <div>
                <p>Funcionários</p>
                <h3 th:text="${listaFuncionarios}">0</h3>
            </div>
        </div>

        <div class="val-box">
            <i class="fa-solid fa-bed"></i>
            <div>
                <p>Quartos</p>
                <h3 th:text="${listaQuartos}">0</h3>
            </div>
        </div>

        <div class="val-box">
            <i class="fa-solid fa-briefcase"></i>
            <div>
                <p>Cargos</p>
                <h3 th:text="${listaCargos}">0</h3>
            </div>
        </div>
    </div>
</section>
</body>
</html>
