<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link
            href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/all.css"
            rel="stylesheet"
    />
    <link rel="stylesheet" th:href="@{/css/sistema/admin.css}"/>
    <link rel="stylesheet" th:href="@{/css/sistema/styleTable.css}"/>
    <title>Detalhes do Funcionário</title>
</head>
<body>
<section
        th:replace="~{Componentes/sistema-section-1 :: section}"
></section>
<section id="interface">
    <div class="navegation">
        <div>
            <div>
                <i class="fas fa-bars" id="menu-btn"></i>
            </div>
            <h3 class="i-name">Funcionários</h3>
            <p>Cadatro de funcionário</p>
        </div>
        <button
                class="btn-cad-client"
                onclick="window.location.href='/funcionarios'"
        >
            Voltar
        </button>
    </div>
    <div class="formContainer">
        <div class="form">
            <img alt="Imagem do funcionário" th:src="@{${funcionario.imagem}}">
            <p>
                <span>CPF:</span>
                <span th:text="${funcionario.cpf}"></span>
            </p>
            <p>
                <span>CNPJ do Hotel:</span>
                <span th:text="${funcionario.hotel_cnpj}"></span>
            </p>
            <p>
                <span>Nome:</span>
                <span th:text="${funcionario.nome}"></span>
            </p>
            <p>
                <span>Cargo:</span>
                <span th:text="${cargoMap[funcionario.idcargos]}"></span>
            </p>
            <p>

                <span>Data de Nascimento:</span>
                <span th:text="${funcionario.data_nascimento}"></span>
            </p>
            <p>
                <span>Data de Admissão:</span>
                <span th:text="${funcionario.data_admissao}"></span>
            </p>
            <p>
                <span>Data de Demissão:</span>
                <span th:text="${funcionario.data_demissao}"></span>
            </p>
            <p>
                <span>Logradouro:</span>
                <span th:text="${funcionario.logradouro}"></span>
            </p>
            <p>
                <span>Número:</span>
                <span th:text="${funcionario.numero}"></span>
            </p>
            <p>
                <span>Complemento:</span>
                <span th:text="${funcionario.complemento}"></span>
            </p>
            <p>
                <span>CEP:</span>
                <span th:text="${funcionario.cep}"></span>
            </p>
            <p>
                <span>Bairro:</span>
                <span th:text="${funcionario.bairro}"></span>
            </p>
            <p>
                <span>Cidade:</span>
                <span th:text="${funcionario.cidade}"></span>
            </p>
            <p>
                <span>UF:</span>
                <span th:text="${funcionario.uf}"></span>
            </p>
        </div>
    </div>
</section>


</body>
</html>
