<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/styleTable.css2}"/>
    <title>Cadastrar Funcionário</title>
</head>
<body>

<h3>Cadastrar Funcionario</h3>

<form method="post" th:action="@{/cadastrarFuncionario}">
    <b>CPF: </b><input name="cpf" type="text"><br>
    <b>Id Cargos: </b><input name="idcargos" type="text"></input><br/>
    <b>Hotel CNPJ: </b><input name="hotel_cnpj" type="text"><br>
    <b>Nome: </b><input name="nome" type="text"><br>
    <b>Imagem: </b><input name="imagem" type="text"><br>
    <b>Data de Nascimento: </b><input name="data_nascimento" type="date"><br>
    <b>Data de Admissão: </b><input name="data_admissao" type="date"><br>
    <b>Data de Demissão: </b><input name="data_demissao" type="date"><br>
    <b>Logradouro: </b><input name="logradouro" type="text"><br>
    <b>Número: </b><input name="numero" type="text"><br>
    <b>Complemento: </b><input name="complemento" type="text"><br>
    <b>CEP: </b><input name="cep" type="text"><br>
    <b>Bairro: </b><input name="bairro" type="text"><br>
    <b>Cidade: </b><input name="cidade" type="text"><br>
    <b>Senha: </b><input name="senha" type="text"><br>
    <b>UF: </b>
    <select id="uf" name="uf" th:value="${funcionario.uf}">
        <option th:selected="${funcionario.uf == 'AC'}" value="AC">AC</option>
        <option th:selected="${funcionario.uf == 'AL'}" value="AL">AL</option>
        <option th:selected="${funcionario.uf == 'AP'}" value="AP">AP</option>
        <option th:selected="${funcionario.uf == 'AM'}" value="AM">AM</option>
        <option th:selected="${funcionario.uf == 'BA'}" value="BA">BA</option>
        <option th:selected="${funcionario.uf == 'CE'}" value="CE">CE</option>
        <option th:selected="${funcionario.uf == 'DF'}" value="DF">DF</option>
        <option th:selected="${funcionario.uf == 'ES'}" value="ES">ES</option>
        <option th:selected="${funcionario.uf == 'GO'}" value="GO">GO</option>
        <option th:selected="${funcionario.uf == 'MA'}" value="MA">MA</option>
        <option th:selected="${funcionario.uf == 'MT'}" value="MT">MT</option>
        <option th:selected="${funcionario.uf == 'MS'}" value="MS">MS</option>
        <option th:selected="${funcionario.uf == 'MG'}" value="MG">MG</option>
        <option th:selected="${funcionario.uf == 'PA'}" value="PA">PA</option>
        <option th:selected="${funcionario.uf == 'PB'}" value="PB">PB</option>
        <option th:selected="${funcionario.uf == 'PR'}" value="PR">PR</option>
        <option th:selected="${funcionario.uf == 'PE'}" value="PE">PE</option>
        <option th:selected="${funcionario.uf == 'PI'}" value="PI">PI</option>
        <option th:selected="${funcionario.uf == 'RJ'}" value="RJ">RJ</option>
        <option th:selected="${funcionario.uf == 'RN'}" value="RN">RN</option>
        <option th:selected="${funcionario.uf == 'RS'}" value="RS">RS</option>
        <option th:selected="${funcionario.uf == 'RO'}" value="RO">RO</option>
        <option th:selected="${funcionario.uf == 'RR'}" value="RR">RR</option>
        <option th:selected="${funcionario.uf == 'SC'}" value="SC">SC</option>
        <option th:selected="${funcionario.uf == 'SP'}" value="SP">SP</option>
        <option th:selected="${funcionario.uf == 'SE'}" value="SE">SE</option>
        <option th:selected="${funcionario.uf == 'TO'}" value="TO">TO</option>
    </select></br>

    <input type="submit" value="Enviar">
</form>
<a th:href='@{/funcionarios}'>Voltar</a>
</body>
</html>