<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/styleTable.css}"/>
    <title>Lista de Funcionários</title>
</head>
<body>
<h1>Lista de Funcionários</h1>
<br/>
<br/>
<a class="button" th:href="@{/formFuncionario}">Cadastrar</a>
<br/>
<table>
    <thead>
    <tr>
        <th>foto</th>
        <th>CPF</th>
        <th>Nome</th>
        <th>Ações</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="funcionario : ${funcionarios}">
        <td><img th:src="@{${funcionario.imagem}}" alt="Imagem do funcionário"></td>
        <td><a th:href="@{/mostrarFuncionario/{cpf}(cpf=${funcionario.cpf})}" th:text="${funcionario.cpf}"></a></td>
        <td th:text="${funcionario.nome}"></td>
        <td>
            <form action="/deletarFuncionario" method="post" style="display: inline-block;">
                <input name="cpf" th:value="${funcionario.cpf}" type="hidden"/>
                <button onclick="return confirm('Tem certeza que deseja excluir este funcionário?')" type="submit">
                    Excluir
                </button>
            </form>
            <form method="get" style="display: inline-block;"
                  th:action="@{/modificarFuncionario/{cpf}(cpf=${funcionario.cpf})}">
                <button onclick="return confirm('Tem certeza que deseja modificar este funcionário?')" type="submit">
                    Modificar
                </button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<br/>
<a class="button" th:href="@{/sistema}">Voltar</a>
</body>
</html>