@import url('https://fonts.google.apis.com/css2?family=Poppins:2ght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    background-color: #fff;
    position: relative;
    display: flex;
}

#menu {
    background: #AD9479;
    width: 250px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

#menu .logo {
    text-align: center;
    padding: 20px 0 4px 6px;
    color: #fff;
    border-bottom: 1px solid #EDE5E3;
}

#menu .logo img {
    width: 150px;
    border-radius: 50%;
}

/* #menu .items {
    margin-top: 0;
} */

#menu .items li {
    list-style: none;
    padding: 15px 0;
    transition: 0.3s ease;
}

#menu .items li:hover {
    background: #EDE5E3;
    cursor: pointer;
}

#menu .items .selecionada {
    border-left: 4px solid #EDE5E3;
}

#menu .items li i {
    color: #fff;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 18px;
    margin: 0 10px 0 25px;
}

#menu .items li:hover i,
#menu .items li:hover a {
    color: #AD9479;
}

#menu .items li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    transition: 0.3s ease;
}

#menu .items .sair {
    margin: 314px 0 0 0;
}

#interface {
    width: calc(100% - 250px);
    margin-left: 250px;
    position: relative;
}

#interface .navegation {
    background: #EDE5E3;
    padding: 80px 60px;
    box-shadow: 1px 1px 10px rgba(122, 120, 120, 0.8);    
}

#interface .navegation h3 {
    font-size: 18px;
    color: #AD9479;
    font-weight: 600;
}

#interface .navegation p {
    font-size: 14px;
    color: #AD9479;
    font-weight: 400;
}

#interface .navegation .cadastro {
    color: #fff;
    background: #AD9479;
    border: #fff;
    padding: 0 30px;
    font-size: 16px;
    font-weight: 600;
}

#menu-btn {
    display: none;
    color: #AD9479;
    font-size: 20px;
    cursor: pointer;
    margin-right: 20px;
}

.values {
    margin: -70px 0px 0 60px;
    padding: 0px;
    display: flex;
    justify-content:flex-start;
    flex-wrap: wrap;
}

.values .val-box {
    font-size: 30px;
    color: #AD9479;
    font-weight: 600;
    background: #fff;
    width: 200px;
    height: 150px;
    padding: 40px 20px;
    border-radius: 5px;
    box-shadow: 1px 1px 10px rgba(122, 120, 120, 0.8);
    margin-right: 50px;
}

.values .val-box p {
    font-size: 14px;
}

.values .val-box h3 {
    font-size: 18px;
}


.board {
    /* display: none; */
    width: 96%;
    margin: 10px 48px 30px 0;
    overflow: auto;
    background: #fff;
    border-radius: 8px;
}

.board img {
    width: 45px;
    height: 45px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 15px;
}

.board h5 {
    font-weight: 600;
    font-size: 14px;
    color: #AD9479;
}

.board p {
    font-weight: 400;
    font-size: 13px;
    /* color: #787d8d; */
    color: #AD9479;
}

.board .people {
    display: flex;
    justify-content: flex-start;
    text-align: start;
    align-items: center;
}

table {
    border-collapse: collapse;
}

tr {
    border-bottom: 1px solid #eef0f3;
}

thead td {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    background: #AD9479;
    /* background: #F9FAFB; */
    text-align: start;
    padding: 15px;
    color: #fff;
}

tbody tr td {
    padding: 10px 15px;
}

tbody .impar {
    background-color: #AD9479;
}

.impar h5, .impar p, .impar td a {
    color: #fff;
}

.active p {
    background: #d7fada;
    padding: 2px 10px;
    display: inline-block;
    border-radius: 40px;
    color: #AD9479;
}

.desactive p {
    background: #ca4040;
    padding: 2px 10px;
    display: inline-block;
    border-radius: 40px;
    color: #AD9479;
}

.edit a {
    text-decoration: none;
    font-size: 14px;
    color: #AD9479;
    font-weight: 600;
}



@media (max-width: 769px) {
    #menu .items .sair {
        margin: 407px 0 0 0;
    }

    .values {
        margin: -70px 0px 0 60px;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    .values .val-box {
        margin: 4px;
    }
}

/* @media (max-width: 820px) {
    #menu .items .sair {
        margin: 564px 0 0 0;
    }

    .values {
        margin: -70px 0px 0 60px;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    .values .val-box {
        margin: 4px;
    }
    
} */


@media (max-width:477px) {
    #menu {
        width: 250px;
        position: fixed;
        left: -250px;
        transition: 0.3s ease;
    }

    #menu.active {
        left: 0px;
    }

    #menu-btn {
        display: initial;
    }

    #menu .items .sair {
        margin: 125px 0 0 0;
    }

    #interface {
        width: 100%;
        margin-left: 0;
        display: inline-block;
        transition: 0.3s ease;
    }

    #menu.active~#interface {
        width: calc(100% - 250px);
        margin-left: 250px;
        transition: 0.3s ease;
    }

    #interface .navegation {
        padding: 20px;
    }

    .values {
        align-items: center;
        margin: 0;
        padding: 15px 15px 0 15px;
    }

    .values .val-box {
        width: 100%;
        margin: 8px 0;
        padding: 40px 20px;
        text-align: center;
    }

}