<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Cadastrar Cargo</title>
</head>
<body>

<h3>Cadastrar Cargo</h3><br/>

<form method="post" th:action="@{/cadastrarCargo}" th:object="${cargo}">

    <input name="id" th:value="${cargo.id}" type="hidden"/>
    <b>Cargo: </b><input name="cargo" type="text"><br/>
    <b>Salário: </b><input name="salario" type="text"><br/>

    <input type="submit" value="Enviar">

</form>
<br/>
<a class="button" th:href="@{/cargos}">Voltar</a>
</body>
</html>