<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <link
            href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/all.css"
            rel="stylesheet"
    />
    <link rel="stylesheet" th:href="@{/css/sistema/admin.css}"/>
    <link rel="stylesheet" th:href="@{/css/sistema/styleTable.css}"/>
    <title>Cadastrar Cargo</title>
</head>
<body>
<section
        th:replace="~{Componentes/sistema-section-1 :: section}"
></section>

<section id="interface">
    <div class="navegation">
        <div>
            <div>
                <i class="fas fa-bars" id="menu-btn"></i>
            </div>
            <h3 class="i-name">Cargos</h3>
            <p>Cadastrar cargo</p>
        </div>
        <button
                class="btn-cad-client"
                onclick="window.location.href='/cargos'"
        >
            Voltar
        </button>
    </div>

    <div class="formContainer">
        <form
                class="form"
                method="post"
                th:action="@{/cadastrarCargo}"
                th:object="${cargo}"
        >
            <input name="id" th:value="${cargo.id}" type="hidden"/>
            <p>
                <span>Cargo:</span>
                <input name="cargo" type="text"/>
            </p>
            <p>
                <span>Salário:</span>
                <input name="salario" type="text"/>
            </p>
            <button class="btn-cad-client" type="submit">Enviar</button>
        </form>
    </div>
</section>
</body>
</html>
