#interface .navegation {
    display: flex;
    justify-content: space-between
    
}


.formulario {
    display: none;
    width: 96%;
    columns: 2;
    font-size: 30px;
    color: #AD9479;
    font-weight: 600;
    background: #fff;
    /* width: 200px;
    height: 150px; */
    padding: 40px 20px;
    border-radius: 5px;
    box-shadow: 1px 1px 10px rgba(122, 120, 120, 0.8);
    margin-right: 50px;
}