body {
    background-color: #F0F0F0;
}

h3 {
    text-align: center;
    margin-top: 50px;
}

form {
    width: 300px;
    margin: 50px auto;
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 3px;
    border: none;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

input[type="submit"] {
    background-color: #337ab7;
    color: #FFFFFF;
    padding: 10px;
    border-radius: 3px;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #2E6DA4;
}

span {
    color: #FF0000;
    font-size: 14px;
}