<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <meta content="IE=edge" http-equiv="X-UA-Compatible" />
        <meta content="width=device-width, initial-scale=1.0" name="viewport" />

        <link
            href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/all.css"
            rel="stylesheet"
        />

        <link rel="stylesheet" th:href="@{/css/sistema/estilo.css}" />
        <link rel="stylesheet" th:href="@{/css/sistema/estilo2.css}" />

        <title>Reservas</title>
    </head>
    <body>
        <section
            th:replace="~{Componentes/sistema-section-1 :: section}"
        ></section>

        <section id="interface">
            <div class="navegation">
                <div>
                    <div>
                        <i class="fas fa-bars" id="menu-btn"></i>
                    </div>
                    <h3 class="i-name">Reservas</h3>
                    <p>Lista das reservas</p>
                </div>
                <button class="cadastro">Cadastrar Reserva</button>
            </div>

            <div class="values">
                <div class="board">
                    <table width="100%">
                        <thead>
                            <tr>
                                <td>Acomodações</td>
                                <td>Cliente</td>
                                <td>Status</td>
                                <td>Preço</td>
                                <td>Valor total</td>
                                <td>Nº pessoa</td>
                                <td>Data de entrada</td>
                                <td>Data de saída</td>
                                <td>Data de confirmação</td>
                                <td>Data de cancelamento</td>
                                <td>Data de registro</td>
                                <td></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="people">
                                    <img
                                        alt=""
                                        th:src="/imagem/acomodacao2.jpg"
                                    />
                                    <div class="people-de">
                                        <h5>Suíte Vila da TEX</h5>
                                        <p>Vista incrível para o lago</p>
                                    </div>
                                </td>

                                <td class="peopele-des">
                                    <h5>Quitumba</h5>
                                    <p>00 00000-0000</p>
                                </td>

                                <td class="active">
                                    <p>Confirmado</p>
                                </td>

                                <td class="role">
                                    <p>200</p>
                                </td>
                                <td>
                                    <p>6000</p>
                                </td>

                                <td>
                                    <p>2</p>
                                </td>

                                <td>
                                    <p>2023-01-02</p>
                                </td>

                                <td>
                                    <p>2023-02-02</p>
                                </td>

                                <td>
                                    <p>2022-12-24</p>
                                </td>

                                <td>
                                    <p></p>
                                </td>

                                <td>
                                    <p>2022-12-24</p>
                                </td>

                                <td class="edit">
                                    <a href="#"
                                        ><i
                                            class="fa-solid fa-ellipsis-vertical"
                                        ></i
                                    ></a>
                                </td>
                            </tr>

                            <tr>
                                <td class="people">
                                    <img
                                        alt=""
                                        th:src="/image/acomodacao4.jpg"
                                    />
                                    <div class="people-de">
                                        <h5>Apartamento Master</h5>
                                        <p>casal e família com criança</p>
                                    </div>
                                </td>

                                <td class="peopele-des">
                                    <h5>Andre</h5>
                                    <p>00 00000-0000</p>
                                </td>

                                <td class="desactive">
                                    <p>Cancelado</p>
                                </td>

                                <td class="role">
                                    <p>250</p>
                                </td>
                                <td>
                                    <p>2500</p>
                                </td>

                                <td>
                                    <p>2</p>
                                </td>

                                <td>
                                    <p>2023-01-11</p>
                                </td>

                                <td>
                                    <p>2023-01-21</p>
                                </td>

                                <td>
                                    <p>2023-01-05</p>
                                </td>

                                <td>
                                    <p></p>
                                </td>

                                <td>
                                    <p>2023-01-05</p>
                                </td>

                                <td class="edit">
                                    <a href="#"
                                        ><i
                                            class="fa-solid fa-ellipsis-vertical"
                                        ></i
                                    ></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="formulario">
                    <div class="produto">
                        <label for="nome">Nome da acomodação</label>
                        <input name="nome" type="text" />
                    </div>

                    <div class="numeroDePessoa">
                        <label for="npessoa">Nº de pessoas</label>
                        <input name="npessoa" type="text" />
                    </div>

                    <div class="dataDeEntrada">
                        <label for="">Data de entrada</label>
                        <input name="dataDeEntrada" type="date" />
                    </div>

                    <div class="dataDeSaida">
                        <label for="">Data de Saida</label>
                        <input name="dataDeSaida" type="date" />
                    </div>

                    <div class="detalhe">
                        <h4>Detalhes do registo</h4>
                        <p>Numero de dias: 15</p>
                        <p>Preço: 180</p>
                        <p>Valor total: 2700</p>
                    </div>

                    <button>Salvar</button>
                </div>
            </div>
        </section>
    </body>
</html>
