<html lang="en" xmlns:th="http://www.thymeleaf.org">
<section id="menu" th:fragment="section">
    <div class="logo">
        <img alt="Descrição da imagem" th:src="@{${session.logado.imagem}}">
        <br/>
        <span th:text="${session.logado.nome}"></span>
    </div>
    <nav class="items">
        <!--class="selecionada"-->
        <li><i class="fa-solid fa-circle-stop"></i><a th:href="@{/sistema}">Dashboard</a></li>
        <li><i class="fa-solid fa-users"></i><a th:href="@{/hospedes}">Hospedes</a></li>
        <li><i class="fa-solid fa-book"></i><a th:href="@{/reservas}">Reservas</a></li>
        <li><i class="fa-solid fa-bed"></i><a th:href="@{/quartos}">Quartos</a></li>
        <li><i class="fa-solid fa-users-gear"></i><a th:href="@{/funcionarios}">Funcionarios</a></li>
        <li><i class="fa-solid fa-gear"></i><a th:href="@{/cargos}">Cargos</a></li>
        <li class="sair-"><i class="fa-solid fa-circle-xmark"></i></i></i><a th:href="@{/logout}">Sair</a></li>
    </nav>
</section>