<html lang="en" xmlns:th="http://www.thymeleaf.org">
<section id="menu" th:fragment="section">
    <div class="logo">
        <img alt="Descrição da imagem" th:src="@{${session.logado.imagem}}">
        <br/>
        <span th:text="${session.logado.nome}"></span>
    </div>
    <nav class="items">
        <!--class="selecionada"-->
        <a th:href="@{/sistema}">
            <li><i class="fa-solid fa-circle-stop"></i>Dashboard</li>
        </a>
        <a th:href="@{/hoteis}">
            <li><i class="fa-solid fa-hotel"></i>Hoteis</li>
        </a>
        <a th:href="@{/hospedes}">
            <li><i class="fa-solid fa-users"></i>Hospedes</li>
        </a>
        <a th:href="@{/reservas}">
            <li><i class="fa-solid fa-calendar-days"></i>Reservas</li>
        </a>
        <a th:href="@{/quartos}">
            <li><i class="fa-solid fa-bed"></i>Quartos</li>
        </a>
        <a th:href="@{/funcionarios}">
            <li><i class="fa-solid fa-users-gear"></i>Funcionarios</li>
        </a>
        <a th:href="@{/cargos}">
            <li><i class="fa-solid fa-briefcase"></i>Cargos</li>
        </a>
        <a th:href="@{/logout}">
            <li class="sair-"><i class="fa-solid fa-circle-xmark"></i></i></i>Sair</li>
        </a>
    </nav>
</section>
