<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <link
            href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/all.css"
            rel="stylesheet"
    />
    <link rel="stylesheet" th:href="@{/css/sistema/admin.css}"/>
    <title>Hoteis</title>
</head>
<body>
<section
        th:replace="~{Componentes/sistema-section-1 :: section}"
></section>

<section id="interface">
    <div class="navegation">
        <div>
            <div>
                <i class="fas fa-bars" id="menu-btn"></i>
            </div>
            <h3 class="i-name">Hoteis</h3>
            <p>Lista de Hoteis</p>
        </div>
        <button
                class="btn-cad-client"
                onclick="window.location.href='/formHotel'"
        >
            Cadastrar
        </button>
    </div>

    <div class="values">
        <div class="board">
            <table width="100%">
                <thead>
                <tr>
                    <th>CNPJ</th>
                    <th>CEP</th>
                    <th>Cidade</th>
                    <th>Logradouro</th>
                    <th>UF</th>
                    <th>Ações</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="hotel : ${hoteis}">
                    <td th:text="${hotel.cnpj}"></td>
                    <td th:text="${hotel.cep}"></td>
                    <td th:text="${hotel.cidade}"></td>
                    <td th:text="${hotel.logradouro}"></td>
                    <td th:text="${hotel.uf}"></td>

                    <td>
                        <form
                                method="get"
                                style="display: inline-block"
                                th:action="@{/modificarHotel/{cnpj}(cnpj=${hotel.cnpj})}"
                        >
                            <button
                                    onclick="return confirm('Tem certeza que deseja modificar este hotel?')"
                                    type="submit"
                            >
                                Modificar
                            </button>
                        </form>
                        <form
                                action="/deletarHotel"
                                method="post"
                                style="display: inline-block"
                        >
                            <input
                                    name="cnpj"
                                    th:value="${hotel.cnpj}"
                                    type="hidden"
                            />
                            <button
                                    onclick="return confirm('Tem certeza que deseja excluir esse hotel?')"
                                    type="submit"
                            >
                                Excluir
                            </button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
</body>
</html>
