<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <link rel="stylesheet" th:href="@{/css/sistema/_style.css}"/>
    <link rel="stylesheet"
          th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css}"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script crossorigin="anonymous" th:src="@{https://kit.fontawesome.com/54d71879ed.js}"></script>
    <title>Home</title>
</head>
<body>
<div class="principal">
    <header>
        <section>
            <div>
                <div class="userBar">
                    <a
                            id="login"
                            onclick="window.location.href='/sistema'"
                    >Intranet</a
                    >
                </div>
                <span class="mainHeader">
                            <a th:href="@{/index.html}"
                            ><img
                                    height="100%"
                                    th:src="@{/imagens/logo_1800.png}"
                            /></a>
                        </span>
                <div class="nomeLogo">
                    <span>Hotel 1800</span>
                </div>
            </div>
        </section>
    </header>
</div>
<br/>
<main>
    <div class="navPos">
        <ul>
            <li>
                <a href="#reserva"
                ><i class="fa-solid fa-calendar-days"> Reservar</i>
                </a>
            </li>
        </ul>
    </div>
    <section id="sobre">
        <div class="principal">
            <div class="container-grid">
                <div id="containersobre01">
                    <img
                            alt="Sobre o nosso hotel"
                            th:src="@{/imagens/hotel-casa-1800-sevilla.jpg}"
                    />
                </div>
                <div id="containersobre02">
                    <h2 style="color: #82694e">Nossa história</h2>
                    <p style="color: #82694e">
                        O Hotel 1800 é uma mansão-palácio localizada no
                        centro histórico de Sevilha. A história das
                        mansões-palácios de Sevilha remonta ao início do
                        século XIX, a Idade de Ouro de Sevilha, com
                        grandes românticos, os heróis da lenda, Don Juan
                        Tenorio, Carmen la Cigarrera, Lord Byron,
                        Bécquer…
                    </p>
                    <p style="color: #82694e">
                        Esta casa foi construída em 1864 seguindo um
                        layout tradicional. Suas portas de madeira
                        maciça cravejadas permitem a entrada no palácio
                        com uma carruagem puxada por cavalos, da qual,
                        quando a pé, pode-se acessar um pátio central de
                        todos os quartos.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <br/>
    <section class="principal" id="acomodacoes">
        <div class="galeria">
            <div>
                <h2 style="color: #82694e">Nossas Acomodações</h2>
                <div class="gallery">
                    <img alt="Suíte Familia" data-target="#myModal" data-toggle="modal"
                         th:src="@{/imagens/acomodacao1.jpg}"/>
                    <div class="desc">Suíte Família</div>
                </div>
                <div class="modal fade" id="myModal" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button class="close" data-dismiss="modal" type="button">&times;</button>
                                <h4 class="modal-title">Suíte Família</h4>
                            </div>
                            <div class="modal-body">
                                <div class="carousel slide" data-ride="carousel" id="myCarousel">
                                    <!-- Indicators -->
                                    <ol class="carousel-indicators">
                                        <li class="active" data-slide-to="0" data-target="#myCarousel"></li>
                                        <li data-slide-to="1" data-target="#myCarousel"></li>
                                        <li data-slide-to="2" data-target="#myCarousel"></li>
                                        <li data-slide-to="3" data-target="#myCarousel"></li>
                                        <li data-slide-to="4" data-target="#myCarousel"></li>
                                        <li data-slide-to="5" data-target="#myCarousel"></li>
                                    </ol>

                                    <!-- Wrapper for slides -->
                                    <div class="carousel-inner" style="overflow:hidden">
                                        <div class="item active">
                                            <img alt="Outra imagem" src="/imagens/acomodacoes/suiteFamilia01.jpg">
                                        </div>

                                        <div class="item">
                                            <img alt="Outra imagem" src="/imagens/acomodacoes/suiteFamilia02.jpg">
                                        </div>

                                        <div class="item">
                                            <img alt="Outra imagem" src="/imagens/acomodacoes/suiteFamilia03.jpg">
                                        </div>

                                        <div class="item">
                                            <img alt="Outra imagem" src="/imagens/acomodacoes/suiteFamilia04.jpg">
                                        </div>

                                        <div class="item">
                                            <img alt="Outra imagem" src="/imagens/acomodacoes/suiteFamilia05.jpg">
                                        </div>

                                        <div class="item">
                                            <img alt="Outra imagem" src="/imagens/acomodacoes/suiteFamilia06.jpg">
                                        </div>
                                    </div>
                                    <a class="left carousel-control" data-slide="prev" href="#myCarousel">
                                        <span class="glyphicon glyphicon-chevron-left"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="right carousel-control" data-slide="next" href="#myCarousel">
                                        <span class="glyphicon glyphicon-chevron-right"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>
                                <p>
                                    Fiel ao estilo dos edifícios tradicionais sevilhanos, todos os nossos quartos
                                    Premium são diferentes e únicos. Preservamos várias partes do edifício original –
                                    varandas, persianas, tectos em caixotões e muito mais – para proporcionar aos nossos
                                    hóspedes uma sensação única.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-default" data-dismiss="modal" type="button">Fechar</button>
                    </div>
                </div>
                <div class="gallery">
                    <img alt="Suíte Premium" data-target="#myModal2" data-toggle="modal"
                         th:src="@{/imagens/acomodacao2.jpg}"/>
                    <div class="desc">Suíte Premium</div>
                </div>
                <div class="modal fade" id="myModal2" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button class="close" data-dismiss="modal" type="button">&times;</button>
                                <h4 class="modal-title">Suíte Premium</h4>
                            </div>
                            <div class="modal-body">
                                <div class="carousel slide" data-ride="carousel" id="myCarousel2">
                                    <!-- Indicators -->
                                    <ol class="carousel-indicators">
                                        <li class="active" data-slide-to="6" data-target="#myCarousel2"></li>
                                        <li data-slide-to="5" data-target="#myCarousel2"></li>
                                        <li data-slide-to="8" data-target="#myCarousel2"></li>
                                        <li data-slide-to="9" data-target="#myCarousel2"></li>
                                        <li data-slide-to="10" data-target="#myCarousel2"></li>
                                        <li data-slide-to="11" data-target="#myCarousel2"></li>
                                    </ol>

                                    <!-- Wrapper for slides -->
                                    <div class="carousel-inner" style="overflow:hidden">
                                        <div class="item active">
                                            <img alt="Outra imagem" src="/imagens/acomodacoes/suitePremium01.jpg">
                                        </div>

                                        <div class="item">
                                            <img alt="Outra imagem" src="/imagens/acomodacoes/suitePremium02.jpg">
                                        </div>

                                        <div class="item">
                                            <img alt="Outra imagem" src="/imagens/acomodacoes/suitePremium03.jpg">
                                        </div>

                                        <div class="item">
                                            <img alt="Outra imagem" src="/imagens/acomodacoes/suitePremium04.jpg">
                                        </div>

                                        <div class="item">
                                            <img alt="Outra imagem" src="/imagens/acomodacoes/suitePremium05.jpg">
                                        </div>

                                        <div class="item">
                                            <img alt="Outra imagem" src="/imagens/acomodacoes/suitePremium06.jpg">
                                        </div>
                                    </div>
                                    <a class="left carousel-control" data-slide="prev" href="#myCarousel2">
                                        <span class="glyphicon glyphicon-chevron-left"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="right carousel-control" data-slide="next" href="#myCarousel2">
                                        <span class="glyphicon glyphicon-chevron-right"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>
                                <p>
                                    Fiel ao estilo dos edifícios tradicionais sevilhanos, todos os nossos quartos
                                    Premium
                                    são diferentes e únicos. Preservamos várias partes do edifício original – varandas,
                                    persianas, tectos em caixotões e muito mais – para proporcionar aos nossos hóspedes
                                    uma sensação única.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-default" data-dismiss="modal" type="button">Fechar</button>
                    </div>
                </div>
                <div class="gallery">
                    <img alt="Suíte Master" data-target="#myModal3" data-toggle="modal"
                         th:src="@{/imagens/acomodacao3.jpg}"/>
                    <div class="desc">Suíte Master</div>
                </div>
                <div class="modal fade" id="myModal3" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button class="close" data-dismiss="modal" type="button">&times;</button>
                                <h4 class="modal-title">Suíte Master</h4>
                            </div>
                            <div class="modal-body">
                                <div class="carousel slide" data-ride="carousel" id="myCarousel3">
                                    <!-- Indicators -->
                                    <ol class="carousel-indicators">
                                        <li class="active" data-slide-to="12" data-target="#myCarousel3"></li>
                                        <li data-slide-to="13" data-target="#myCarousel3"></li>
                                        <li data-slide-to="14" data-target="#myCarousel3"></li>
                                        <li data-slide-to="15" data-target="#myCarousel3"></li>
                                        <li data-slide-to="16" data-target="#myCarousel3"></li>
                                        <li data-slide-to="17" data-target="#myCarousel3"></li>
                                    </ol>

                                    <!-- Wrapper for slides -->
                                    <div class="carousel-inner" style="overflow:hidden">
                                        <div class="item active">
                                            <img alt="Outra imagem" src="/imagens/acomodacoes/suiteMaster01.jpg">
                                        </div>

                                        <div class="item">
                                            <img alt="Outra imagem" src="/imagens/acomodacoes/suiteMaster02.jpg">
                                        </div>

                                        <div class="item">
                                            <img alt="Outra imagem" src="/imagens/acomodacoes/suiteMaster03.jpg">
                                        </div>

                                        <div class="item">
                                            <img alt="Outra imagem" src="/imagens/acomodacoes/suiteMaster04.jpg">
                                        </div>

                                        <div class="item">
                                            <img alt="Outra imagem" src="/imagens/acomodacoes/suiteMaster05.jpg">
                                        </div>

                                        <div class="item">
                                            <img alt="Outra imagem" src="/imagens/acomodacoes/suiteMaster06.jpg">
                                        </div>
                                    </div>
                                    <a class="left carousel-control" data-slide="prev" href="#myCarousel3">
                                        <span class="glyphicon glyphicon-chevron-left"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="right carousel-control" data-slide="next" href="#myCarousel3">
                                        <span class="glyphicon glyphicon-chevron-right"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>
                                <p>
                                    Estes quartos são amplos e cheios de luz, proporcionando uma experiência
                                    inesquecível em pleno bairro de Santa Cruz. Com estilo único e respeitando a
                                    estrutura original da casa, todos os nossos quartos Deluxe Premium possuem
                                    características únicas. Temos certeza de que cada vez que você se hospedar aqui
                                    experimentará sensações diferentes.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-default" data-dismiss="modal" type="button">Fechar</button>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>

    <div class="principal">
        <div id="acomodacoesfundo"></div>
    </div>
    <section id="servicos_principal" th:fragment="servicos_principal">
        <div class="principal">
            <h2 style="color: #82694e">Conheça mais sobre nossos serviços</h2>
            <article id="servicos">
                <div class="container-servicos">
                    <div class="container-servicos2">
                        <div class="divIcon">
                            <i class="fa-solid fa-heart fa-2x"></i>
                            <h2 class="h1Color">
                                Experiência Romântica
                            </h2>
                        </div>
                        <p class="textos" style="color: #82694e; text-align:justify">
                            Se você está pensando em comemorar sua lua
                            de mel, aniversário ou noite de núpcias,
                            queremos fazer parte da celebração. Você vai
                            precisar de flores, champanhe, chocolates e
                            muito amor, e na Casa 1800 temos de tudo,
                            deixe-nos ajudá-lo...
                        </p>
                    </div>
                    <div class="container-servicos2">
                        <div class="divIcon">
                            <i
                                    class="fa-solid fa-person-burst fa-2x"
                            ></i>
                            <h2 class="h1Color">Bem Estar</h2>
                        </div>
                        <p class="textos" style="color: #82694e; text-align:justify">
                            Em nossa casa também queremos que você
                            relaxe, você merece um descanso. Nossa
                            piscina, localizada no terraço, oferece
                            vistas panorâmicas de uma área rica em
                            história, incluindo vistas do Real Alcázar,
                            do Hospital de los Venerables, da Catedral e
                            da Giralda.
                        </p>
                    </div>
                    <div class="container-servicos2">
                        <div class="divIcon">
                            <i
                                    aria-hidden="true"
                                    class="fa fa-home fa-2x"
                            ></i>
                            <h2 class="h1Color">Cultura</h2>
                        </div>
                        <p class="textos" style="color: #82694e; text-align:justify">
                            Vários dos museus que temos na cidade também
                            são famosos e queremos ajudá-lo a
                            esgueirar-se por eles, visite o museu de
                            arte flamenca, o museu marítimo ou o típico
                            e famoso museu das carruagens.
                        </p>
                    </div>
                </div>
            </article>
        </div>
    </section>
    <br/>
    <section id="gastronomia">
        <div class="principal">
            <div class="container-grid-gastro">
                <div id="containergastro02">
                    <h2 style="color: #82694e">Gastronomia</h2>
                    <p style="color: #82694e">
                        Se você está pensando em comemorar sua lua de
                        mel, aniversário ou noite de núpcias, queremos
                        fazer parte da celebração. Você vai precisar de
                        flores, champanhe, chocolates e muito amor, e na
                        Casa 1800 temos de tudo, deixe-nos ajudá-lo.
                    </p>
                    <p style="color: #82694e">
                        Dispomos de 33 quartos decorados com bom gosto e
                        elegância, onde poderá relaxar nos seus lençóis
                        de algodão egípcio e deliciar-se com o seu aroma
                        a flores frescas, pátios centrais da Andaluzia
                        iluminados com os mais belos lustres, um terraço
                        com vistas deslumbrantes onde poderá tirar
                        muitas fotografias daquele momento especial.
                    </p>
                </div>
                <div id="containergastro01">
                    <img
                            alt="Sobre o nosso hotel"
                            src="/imagens/Gastronomia1.jpeg"
                    />
                </div>
            </div>
        </div>
    </section>
</main>
<br/>
<div class="principal">
    <div class="continf">
        <div class="div-contatos">
            <form
                    enctype="multipart/form-data"
                    id="reserva"
                    method="post"
                    th:action="@{/add}"
                    th:object="${reserva}"
            >
                <fieldset class="fieldsetFooter">
                    <legend>Faça sua Reserva</legend>
                    <p>
                        <span>CPF:</span>
                        <input id="hospede_cpf" name="hospede_cpf"/>
                    </p>
                    <p>
                        <span>Nome:</span>
                        <input id="nome" name="nome"/>
                    </p>
                    <p>
                        <span>Email:</span>
                        <input id="email" name="email"/>
                    </p>
                    <p>
                        <span>Quarto:</span>
                        <select id="idquarto" name="idquarto">
                            <option>Selecionar quarto</option>
                            <option
                                    th:each="quarto : ${quartos}"
                                    th:text="${quarto[1]}"
                                    th:value="${quarto[0]}"
                            ></option>
                        </select>
                    </p>
                    <p>
                        <span>Qtd de Adultos:</span>
                        <input
                                id="quantidade_adulto"
                                max="6"
                                min="1"
                                name="quantidade_adulto"
                                required
                                type="number"
                                value="1"
                        />
                    </p>
                    <p>
                        <span>Qtd de Crianças:</span>
                        <input
                                id="quantidade_crianca"
                                max="4"
                                min="0"
                                name="quantidade_crianca"
                                required
                                type="number"
                                value="0"
                        />
                    </p>
                    <p>
                        <span>Data de Entrada:</span>
                        <input
                                id="data_check_in"
                                name="data_check_in"
                                required
                                type="date"
                        />
                    </p>
                    <p>
                        <span>Data de Saída:</span>
                        <input
                                id="data_check_out"
                                name="data_check_out"
                                required
                                type="date"
                        />
                    </p>
                    <button
                            class="btn-cad-client"
                            name="add"
                            type="submit"
                    >
                        Confirmar Reserva
                    </button>
                </fieldset>
            </form>

            <form id="consulta" method="post" th:action="@{/consultar}">
                <fieldset class="fieldsetFooter">
                    <legend>Consulte sua reserva</legend>
                    <p>
                        <span>CPF:</span>
                        <input
                                id="cpf"
                                name="hospede_cpf"
                                required
                                th:value="${cpf}"
                        />
                    </p>
                    <p>
                        <span>Email:</span>
                        <input
                                id="email2"
                                name="email"
                                required
                                th:value="${email}"
                        />
                    </p>
                    <button class="btn-cad-client" type="submit">
                        Verificar Reserva
                    </button>
                </fieldset>
            </form>
        </div>
    </div>
</div>
<footer>
    <div class="principal redes-sociais">
        <div class="informacoes">
            <h2>Contato</h2>
            <p>
                <i class="fa-solid fa-location-dot"></i> Rua T.expert,
                250 CEP 00.000-00
            </p>
            <p>
                <i class="fa-solid fa-phone-volume"></i> (00) 0
                0000-0000
            </p>
            <p>
                <i class="fa-brands fa-square-whatsapp"></i> (00) 0
                0000-0000
            </p>
            <p>
                <i class="fa-solid fa-envelope"></i>
                hotel1800@hotel1800.com.br
            </p>
            <div></div>
        </div>
        <div class="redes-sociais">
            <h2>Siga-nos</h2>
            <a href="http://www.facebook.com.br"
            ><i class="fa-brands fa-facebook" style="color:#82694e"></i
            ></a>
            <a href="http://www.instagram.com">
                <i class="fa-brands fa-square-instagram" style="color:#82694e"></i
                ></a>
            <a href="http://www.twitter.com"
            ><i class="fa-brands fa-square-twitter" style="color:#82694e"></i
            ></a>
        </div>
    </div>
</footer>
<div class="copyright principal">
    <h5>&copy;2077 - Todos os direitos reservados</h5>
</div>
</body>
</html>
