<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/styleTable.css}"/>
    <title>Lista de Hóspedes</title>
</head>
<body>
<h1>Lista de Hóspedes</h1>
<br/>
<br/>
<a class="button" th:href="@{/formHospede}">Cadastrar</a>
<br/>
<table>
    <thead>
    <tr>
        <th>CPF</th>
        <th>Nome</th>
        <th>Telefone</th>
        <th>E-mail</th>
        <th>Ações</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="hospede : ${hospedes}">
        <td><a th:href="@{/mostrarHospede/{cpf}(cpf=${hospede.cpf})}" th:text="${hospede.cpf}"></a></td>
        <td th:text="${hospede.nome}"></td>
        <td th:text="${hospede.telefone}"></td>
        <td th:text="${hospede.email}"></td>
        <td>
            <form action="/deletarHospede" method="post" style="display: inline-block;">
                <input name="cpf" th:value="${hospede.cpf}" type="hidden"/>
                <button onclick="return confirm('Tem certeza que deseja excluir este Hóspede?')" type="submit">Excluir
                </button>
            </form>
            <form method="get" style="display: inline-block;"
                  th:action="@{/modificarHospede/{cpf}(cpf=${hospede.cpf})}">
                <button onclick="return confirm('Tem certeza que deseja modificar este Hóspede?')" type="submit">
                    Modificar
                </button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<br/>
<a class="button" th:href="@{/sistema}">Voltar</a>
</body>
</html>