<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/styleTable.css}"/>
    <title>Lista de Quartos</title>
</head>
<body>
<h1>Lista de Quartos</h1>
<br/>
<br/>
<a class="button" th:href="@{/formQuarto}">Cadastrar</a>
<br/>
<table>
    <thead>
    <tr>
        <th>ID Quarto</th>
        <th>Nome</th>
        <th>Hotel CNPJ</th>
        <th>Nº do Quarto</th>
        <th>Capacidade</th>
        <th>Diária</th>
        <th>Ações</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="quarto : ${listaQuartos}">
        <td th:text="${quarto.idquarto}"></td>
        <td th:text="${quarto.nomeQuarto}"></td>
        <td th:text="${quarto.hotel_cnpj}"></td>
        <td th:text="${quarto.numero}"></td>
        <td th:text="${quarto.capacidade}"></td>
        <td th:text="${quarto.diaria}"></td>
        <td>
            <form action="/deletarQuarto" method="post" style="display: inline-block;">
                <input name="idquarto" th:value="${quarto.idquarto}" type="hidden"/>
                <button onclick="return confirm('Tem certeza que deseja excluir este quarto?')" type="submit">Excluir
                </button>
            </form>
            <form method="get" style="display: inline-block;"
                  th:action="@{/modificarQuarto/{idquarto}(idquarto=${quarto.idquarto})}">
                <button onclick="return confirm('Tem certeza que deseja modificar este quarto?')" type="submit">
                    Modificar
                </button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<br/>
<a class="button" th:href="@{/sistema}">Voltar</a>
</body>
</html>


