<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Modificar Funcionário</title>
</head>
<body>
<h1>Modificar Funcionário</h1>
<form method="post" th:action="@{/atualizarFuncionario}">
    <div>
        <label for="nome">Nome:</label>
        <input id="nome" name="nome" required="required" th:value="${funcionario.nome}" type="text"/>
    </div>
<!--    <div>
        <label for="data_nascimento">Data de Nascimento:</label>
        <input id="data_nascimento" name="data_nascimento" required="required"
               th:value="${#dates.format(funcionario.data_nascimento, 'yyyy-MM-dd')}" type="date"/>
    </div>
    <div>
        <label for="data_admissao">Data de Admissão:</label>
        <input id="data_admissao" name="data_admissao" required="required"
               th:value="${#dates.format(funcionario.data_admissao, 'yyyy-MM-dd')}" type="date"/>
    </div>
    <div>
        <label for="data_demissao">Data de Demissão:</label>
        <input id="data_demissao" name="data_demissao" th:value="${#dates.format(funcionario.data_demissao, 'yyyy-MM-dd')}" type="date"/>
    </div>-->

    <div>
        <label for="logradouro">Logradouro:</label>
        <input id="logradouro" name="logradouro" required="required" th:value="${funcionario.logradouro}" type="text"/>
    </div>

    <div>
        <label for="numero">Número:</label>
        <input id="numero" name="numero" required="required" th:value="${funcionario.numero}" type="text"/>
    </div>

    <div>
        <label for="complemento">Complemento:</label>
        <input id="complemento" name="complemento" th:value="${funcionario.complemento}" type="text"/>
    </div>

    <div>
        <label for="bairro">Bairro:</label>
        <input id="bairro" name="bairro" required="required" th:value="${funcionario.bairro}" type="text"/>
    </div>

    <div>
        <label for="cidade">Cidade:</label>
        <input id="cidade" name="cidade" required="required" th:value="${funcionario.cidade}" type="text"/>
    </div>

    <div>
        <label for="uf">UF:</label>
        <input id="uf" name="uf" required="required" th:value="${funcionario.uf}" type="text" maxlength="2"/>
<!--        <select id="uf" name="uf" th:value="${hospede.endereco.uf}">
            <option value="AC" th:selected="${hospede.endereco.uf == 'AC'}">AC</option>
            <option value="AL" th:selected="${hospede.endereco.uf == 'AL'}">AL</option>
            <option value="AP" th:selected="${hospede.endereco.uf == 'AP'}">AP</option>
            <option value="AM" th:selected="${hospede.endereco.uf == 'AM'}">AM</option>
            <option value="BA" th:selected="${hospede.endereco.uf == 'BA'}">BA</option>
            <option value="CE" th:selected="${hospede.endereco.uf == 'CE'}">CE</option>
            <option value="DF" th:selected="${hospede.endereco.uf == 'DF'}">DF</option>
            <option value="ES" th:selected="${hospede.endereco.uf == 'ES'}">ES</option>
            <option value="GO" th:selected="${hospede.endereco.uf == 'GO'}">GO</option>
            <option value="MA" th:selected="${hospede.endereco.uf == 'MA'}">MA</option>
            <option value="MT" th:selected="${hospede.endereco.uf == 'MT'}">MT</option>
            <option value="MS" th:selected="${hospede.endereco.uf == 'MS'}">MS</option>
            <option value="MG" th:selected="${hospede.endereco.uf == 'MG'}">MG</option>
            <option value="PA" th:selected="${hospede.endereco.uf == 'PA'}">PA</option>
            <option value="PB" th:selected="${hospede.endereco.uf == 'PB'}">PB</option>
            <option value="PR" th:selected="${hospede.endereco.uf == 'PR'}">PR</option>
            <option value="PE" th:selected="${hospede.endereco.uf == 'PE'}">PE</option>
            <option value="PI" th:selected="${hospede.endereco.uf == 'PI'}">PI</option>
            <option value="RJ" th:selected="${hospede.endereco.uf == 'RJ'}">RJ</option>
            <option value="RN" th:selected="${hospede.endereco.uf == 'RN'}">RN</option>
            <option value="RS" th:selected="${hospede.endereco.uf == 'RS'}">RS</option>
            <option value="RO" th:selected="${hospede.endereco.uf == 'RO'}">RO</option>
            <option value="RR" th:selected="${hospede.endereco.uf == 'RR'}">RR</option>
            <option value="SC" th:selected="${hospede.endereco.uf == 'SC'}">SC</option>
            <option value="SP" th:selected="${hospede.endereco.uf == 'SP'}">SP</option>
            <option value="SE" th:selected="${hospede.endereco.uf == 'SE'}">SE</option>
            <option value="TO" th:selected="${hospede.endereco.uf == 'TO'}">TO</option>
        </select>-->
    </div>

    <div>
        <label for="cep">CEP:</label>
        <input id="cep" name="cep" required="required" th:value="${funcionario.cep}" type="text"/>
    </div>

    <div>
        <input type="hidden" id="cpf" name="cpf" th:value="${funcionario.cpf}"/>
        <input type="submit" value="Modificar"/>
    </div>
</form>
<br/>
<a th:href="@{/funcionarios}">Voltar</a>
</body>
</html>