<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Modificar Hóspede</title>
</head>
<body>
<h1>Modificar Hóspede</h1>
<form method="post" th:action="@{/atualizarHospede}">
    <div>
        <label for="nome">Nome:</label>
        <input id="nome" name="nome" required="required" th:value="${hospede.nome}" type="text"/>
    </div>
    <div>
        <label for="data_nascimento">Data de Nascimento:</label>
        <input id="data_nascimento" name="data_nascimento" required="required" th:value="${hospede.data_nascimento}"
               type="date"/>
    </div>
    <div>
        <label for="telefone">Telefone:</label>
        <input id="telefone" name="telefone" required="required" th:value="${hospede.telefone}" type="text"/>
    </div>
    <div>
        <label for="email">E-mail:</label>
        <input id="email" name="email" required="required" th:value="${hospede.email}" type="email"/>
    </div>
    <div>
        <input id="cpf" name="cpf" th:value="${hospede.cpf}" type="hidden"/>
        <input type="submit" value="Modificar"/>
    </div>
</form>
<br/>
<a th:href="@{/hospedes}">Voltar</a>
</body>
</html>