<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/styleLogin.css}"/>
    <title>Login</title>
</head>
<body>
<h3>Login de Usuário</h3>


<form method="post" action="/login">

        CPF:  <input type="text" name="cpf" /> <br />
        Senha: <input type="text" name="senha" /> <br />
        <input type="submit" value="Entrar">
    <br />
    <br />
    <span th:text="${usuarioInvalido}"></span>
    <br />

    <!--  <label for="cpf">CPF do Usuário</label>
      <input type="text" id="cpf" name="cpf" required>


      <label for="senha">Senha:</label>
      <input type="senha" id="senha" name="senha" required>-->
</form>

</body>
</html>